
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-table {
    margin-left: auto;
    margin-right: auto;

}

h1 {
    text-align: center;
    color: #009279;
    font-weight: bold;
}

.content-table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9 em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr {
    background-color: #009279;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009279;
}





















/*

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

*/