<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="GreetingStyle.css">
</head>
<body>

<h1>Welcome to password manager!</h1>




<form id="login">
    <label><b>User Name
    </b>
    </label>
    <input type="text" name="Uname" id="Uname" placeholder="Username">
    <br><br>
    <label><b>Password
    </b>
    </label>
    <input type="Password" name="Pass" id="Pass" placeholder="Password">
    <br><br>
<!--    <input type="button" name="log" id="log" value="Log In Here">-->
    <button id="log">Log In</button>
    <br><br>
    <input type="checkbox" id="check">
    <span>Remember me</span>
    <br><br>
</form>

<button id="sign-up-btn-sml">Sign Up</button>




<form id="signUp" class="hidden">
    <label><b>New User Name
    </b>
    </label>
    <input type="text" name="Uname" id="newUname" placeholder="Username">
    <br><br>
    <label><b>New Password
    </b>
    </label>
    <input type="Password" name="Pass" id="newPass" placeholder="Password">
    <br><br>
    <!--    <input type="button" name="log" id="log" value="Log In Here">-->
    <button id="sign">Sign Up</button>
    <br><br>

</form>

<button id="log-in-btn-sml" class="hidden">Log In</button>


<script>


const smallSignUpButton = document.getElementById("sign-up-btn-sml")
const logInForm = document.getElementById("login")
const signUpForm = document.getElementById("signUp")
const smallLogInButton = document.getElementById("log-in-btn-sml")

smallSignUpButton.addEventListener("click", () => {
    logInForm.classList.add("hidden")
    signUpForm.classList.remove("hidden")
    smallSignUpButton.classList.add("hidden")
    smallLogInButton.classList.remove("hidden")

    console.log("clicked signup");
})


smallLogInButton.addEventListener("click", () => {
    logInForm.classList.remove("hidden")
    signUpForm.classList.add("hidden")
    smallSignUpButton.classList.remove("hidden")
        smallLogInButton.classList.add("hidden")



})


function hideLogIn() {
    document.getElementById("login").style.display = "none";
  }



</script>
</body>
</html>