<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="GreetingStyle.css">
</head>
<body>

<h1>Welcome to password manager!</h1>


<form id="login">
    <label><b>User Name
    </b>
    </label>
    <input type="text" name="Uname" id="Uname" placeholder="Username">
    <br><br>
    <label><b>Password
    </b>
    </label>
    <input type="Password" name="Pass" id="Pass" placeholder="Password">
    <br><br>
<!--    <input type="button" name="log" id="log" value="Log In Here">-->

    <br><br>

</form>

<button id="log">Log In</button>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>



$(document).ready(function(){
    $("#log").click(function() {
        console.log("clk");

        var test = JSON.stringify({
        "username": $("#Uname").val() ,
        "password": $("#Pass").val() ,


        });

        console.log("here")


        $.ajax({
            url: "/apiLogIn",
            data: test,
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            success : function(serverResponse) {
                        console.log("in here mate")

                        if(serverResponse.succeeded == true) {
                        alert("logged in")
                            window.location.replace("/uiPasswords");
                        } else {
                        alert("failed to log in")
                        }



                       },
        });

    });



});

const logInForm = document.getElementById("login")










</script>
</body>
</html>