<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="PasswordsStyle.css">

</head>
<body>

<header>

    <h1>
        <button id="add-entry" class="open-button" onclick="openForm()" >Add Entry</button>

        Welcome to password manager

    </h1>


</header>

<main>


    <table id="table-id" class="content-table">


        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Password</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="details : ${userEntries}">
            <td th:text="${details.title}">title</td>
            <td th:text="${details.username}">username</td>
            <td th:text="${details.password}">password</td>
            <td th:text="${details.notes}">notes</td>

        </tr>

        </tbody>

    </table>




    
    <div class="form-popup" id="myForm">
        <form class="form-container">
            <h1>Add Entry</h1>

            <label for="title"><b>Title</b></label>
            <input type="text" id="txtTitle" placeholder="Enter Title" name="title"   required>

            <label for="username"><b>Username</b></label>
            <input type="text" id="txtUsername" placeholder="Enter Username" name="username"   required>


            <label for="password"><b>Password</b></label>
            <input type="text" id="txtPassword" placeholder="Enter Password" name="password"  required>



            <label for="notes"><b>Notes</b></label>
            <textarea rows="5" cols="41" id="txtNotes" name="notes"  ></textarea>

            <button id="submit-btn" class="btn">Submit</button>
            <button id="close-btn" type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>



</main>


<footer>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>




<script>



$(document).ready(function(){
    $("#submit-btn").click(function() {
        console.log("clk");

        var test = JSON.stringify({
        "title": $("#txtTitle").val() ,
        "username": $("#txtUsername").val() ,
        "password": $("#txtPassword").val() ,
        "notes": $("#txtNotes").val()

        });

        console.log("here")


        $.ajax({
            url: "/apiAddEntry",
            data: test,
            type: "POST",
            dataType: "json",
            contentType: "application/json"


        }).done(function(serverResponse) { });

    });



});






const entryButton = document.getElementById("add-entry")
const closeButton = document.getElementById("close-btn")

function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }


  function addHide() {
    document.getElementById("add-entry").style.display = "none";
  }

  function removeHide() {
    document.getElementById("add-entry").style.display = "fixed";
  }



</script>


</body>
</html>