<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="PasswordsStyle.css">
</head>
<body>

<header>

    <h1 th:text="'Hello, ' + ${name} + ', welcome to your password manager'"/>

</header>

<main>



    <table id="table-id" class="content-table">


        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Password</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="details : ${userEntries}">
            <td th:text="${details.title}">title</td>
            <td th:text="${details.username}">username</td>
            <td th:text="${details.password}">password</td>
            <td th:text="${details.notes}">notes</td>

        </tr>

        </tbody>

    </table>







    <button class="open-button" onclick="openForm()">Add Entry</button>

    <div class="form-popup" id="myForm">
        <form class="form-container">
            <h1>Add Entry</h1>

            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Title" name="title" required>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>


            <label for="password"><b>Password</b></label>
            <input type="text" placeholder="Enter Password" name="password" required>



            <label for="notes"><b>Notes</b></label>
            <textarea rows="5" cols="41" id="TITLE" name="notes"></textarea>

            <button class="btn">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>







    <!--    <p th:text="'Hello, ' + ${name} + '!'" />-->


</main>


<footer>

</footer>



<script>

    function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }


</script>




</body>
</html>