<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="PasswordsStyle.css">
</head>
<body>

<header>

    <h1 th:text="'Hello, ' + ${name} + ', welcome to your password manager'"/>

</header>

<main>


    <table id="table-id" class="content-table">


        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Password</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="details : ${userEntries}">
            <td th:text="${details.title}">title</td>
            <td th:text="${details.username}">username</td>
            <td th:text="${details.password}">password</td>
            <td th:text="${details.notes}">notes</td>

        </tr>

        </tbody>

    </table>


    <!--    <p th:text="'Hello, ' + ${name} + '!'" />-->


</main>


<footer>

</footer>







</body>
</html>